:root {
  --autharmor-loader-size: 80px;
  --autharmor-loader-gap-ratio: 0.8;

  --autharmor-accent-color: #0bdbdb;
  --autharmor-background-color: #2a2d35;
  --autharmor-tab-color: #363a46;
  --autharmor-qr-code-background: #202020;
  --autharmor-highlight-color: #434857;
  --autharmor-input-background: #212329;
  --autharmor-app-btn: #41baba;
}

.AuthArmor-root * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.AuthArmor-root *:focus {
  outline: none;
}

/* Loader */

.lds-ring {
  display: inline-block;
  position: relative;
  width: var(--autharmor-loader-size);
  height: var(--autharmor-loader-size);
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: calc(var(--autharmor-loader-size) * var(--autharmor-loader-gap-ratio));
  height: calc(
    var(--autharmor-loader-size) * var(--autharmor-loader-gap-ratio)
  );
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.container {
  text-align: center;
}

.container * {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

.container p {
  margin: 0;
}

.content {
  position: relative;
  max-width: 540px;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  color: white;
  margin: auto;
}

.tabs {
  display: flex;
  margin-bottom: 0;
  border-bottom: 2px solid var(--autharmor-background-color);
}

.tab {
  color: white;
  width: 100%;
  padding: 14px;
  font-size: 16px;
  font-weight: 800;
  text-align: center;
  cursor: pointer;
  border: none;
  background: var(--autharmor-tab-color);
  transition: all 0.3s ease;
}

.active-tab {
  background: var(--autharmor-highlight-color);
}

.tab-content {
  display: none;
  min-height: 546px;
  flex-direction: column;
}

.info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  flex: 1;
  background-color: var(--autharmor-background-color);
}

.header-text {
  font-weight: 600;
  font-size: 16px;
  opacity: 0.8;
}
.qr-code {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  background: var(--autharmor-qr-code-background);
  overflow: hidden;
  border-radius: 10px;
}

p.desc {
  font-weight: 600;
  font-size: 14px;
  opacity: 0.6;
  margin-bottom: 10px;
}

.timer-container {
  display: flex;
  align-items: center;
}

p.timer {
  color: #ffc5c5;
  font-weight: 700;
  padding: 7px 10px;
  margin-right: 8px;
  border-radius: 6px;
  min-width: 80px;
  background: #ff84841a;
}

.refresh {
  width: 15px;
  height: 15px;
  flex-shrink: 0;
}

.refresh img {
  object-fit: contain;
}

.separator {
  display: flex;
  align-items: center;
  width: 100%;
  color: white;
  font-weight: 700;
  opacity: 0.3;
  margin: 20px 0;
}

.separator::before {
  content: "";
  width: 100%;
  height: 2px;
  background: white;
}

.separator p {
  margin: 0 10px;
}

.separator::after {
  content: "";
  width: 100%;
  height: 2px;
  background: white;
}

input.email {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 0;
  color: white;
  background: var(--autharmor-input-background);
  border-radius: 10px;
  font-family: "Montserrat";
  border: 2px solid transparent;
  padding: 8px 13px;
}

input.email::placeholder {
  color: #ffffff44;
  font-weight: 600;
}

.btn {
  width: 100%;
  padding: 15px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  color: white;
  font-family: Montserrat;
  border: 0;
  background: var(--autharmor-accent-color);
  border-radius: 0 0 10px 10px;
  transition: all 0.2s ease;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 1;
  visibility: visible;
  transition: all 0.2s ease;
  z-index: 100;
}

.modal * {
  box-sizing: border-box;
}

.modal-background {
  background: black;
  opacity: 50%;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background: var(--autharmor-background-color);
  width: 85%;
  max-width: 700px;
  padding: 43px;
  z-index: 10;
  transition: all 0.3s ease;
}

@media (max-width: 620px) {
  .modal {
    align-items: flex-start;
    padding: 20px;
  }
  .modal-container {
    overflow: auto;
    max-height: 100%;
  }
}

.loading-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 1;
  visibility: visible;
  transition: all 0.2s ease;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.modal.hidden .modal-container {
  transform: translateY(-300%);
}

.modal .modal-container {
  transform: translateY(0);
}

p.modal-header {
  color: white;
  font-weight: 700;
  font-size: 28px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
}

.cards {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  cursor: pointer;
  border-radius: 5px;
  background: var(--autharmor-highlight-color);
  transition: all 0.3s ease;
}

@media (max-width: 620px) {
  .cards {
    flex-direction: column;
  }

  .card {
    width: 100% !important;
    margin-bottom: 20px;
  }

  .cards .card:last-of-type {
    margin-bottom: 0;
  }
}

.sent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  background: var(--autharmor-accent-color);
  transform: translateY(-100%);
  transition: all 0.3s ease;
}

.sent .title {
  color: var(--autharmor-highlight-color);
}

.email-btn {
  color: white;
  font-size: 12px;
  font-weight: 600;
  padding: 5px 12px;
  margin-top: 20px;
  border-radius: 50px;
  border: 2px solid white;
  transition: all 0.3s ease;
}

.email-btn:hover {
  color: var(--autharmor-accent-color);
  background: white;
}

.resend {
  color: white;
  font-size: 12px;
  font-weight: 600;
  padding: 5px 10px;
  text-align: center;
}

.sent.active {
  transform: translateY(0);
}

.icon {
  position: static;
  height: 50px;
  margin-bottom: 15px;
}

.icon img {
  height: 50px;
  object-fit: contain;
}

.title {
  color: var(--autharmor-accent-color);
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  margin-top: 0;
  margin-bottom: 5px;
}

.textContainer {
  color: rgba(255, 255, 255, 0.575);
  margin: 0;
  text-align: center;
}

.text {
  font-size: 12px;
}

.devices {
  font-weight: bold;
  font-size: 12px;
}

.disabled {
  opacity: 0.3;
  pointer-events: none;
}

.another {
  display: none;
  color: var(--autharmor-accent-color);
  font-size: 14px;
  font-weight: 600;
  padding: 5px 12px;
  margin-top: 20px;
  border-radius: 50px;
  border: 2px solid var(--autharmor-accent-color);
  transition: all 0.3s ease;
}

.another:hover {
  color: var(--autharmor-background-color);
  background: var(--autharmor-accent-color);
}

.another.active {
  display: block;
}

.input-error-message {
  display: none;
  margin-top: 6px;
  font-size: 13px;
  color: #ff4949;
  width: 100%;
  text-align: left;
  padding-left: 13px;
}

.input-error-message + input {
  border: 2px solid red;
}

.input-container {
  width: 100%;
}

.invalid input.email {
  border: 2px solid #ff4949;
}

.invalid .input-error-message {
  display: block;
}

.usernameless-qr-img {
  width: 200px;
  height: 200px;
  object-fit: contain;
  transition: all 0.2s ease;
}

p.mobile-usernameless-title {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 15px;
}

.mobile-usernameless-btn {
  display: flex;
  padding: 0;
  padding-right: 30px;
  align-items: center;
  border-radius: 8px;
  background-color: #121319;
  font-weight: 700;
  font-size: 15px;
  color: #ffffffb0;
  text-decoration: none;
  transform: scale(1);
  cursor: pointer;
  transition: all 0.2s ease;
  overflow: hidden;
  box-shadow: 0 3px 10px rgb(0 0 0 / 30%);
}

.mobile-usernameless-btn:hover {
  color: white;
  transform: scale(1.2);
}

.mobile-usernameless {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
}

.mobile-usernameless-icon-container {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border-radius: 6px; */
  background-color: #242426;
  margin-right: 18px;
}

.mobile-usernameless-icon {
  height: 26px;
}

.qr-code-timeout {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000a8;
  z-index: 100;
  backdrop-filter: blur(3px);
  flex-direction: column;
  transition: all 0.2s ease;
}

.timeout-head {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 17px;
}

.timeout-btn {
  padding: 5px 15px;
  border-radius: 15px;
  background-color: var(--autharmor-accent-color);
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}

img[src=""] {
  opacity: 0;
}

.autharmor--danger {
  background-color: #f55050 !important;
}

.autharmor--warn {
  background-color: #ff8d18 !important;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(53, 57, 64, 0.98);
  z-index: 100;
  opacity: 1;
  visibility: visible;
  transition: all 0.2s ease;
  z-index: 100000;
}

.popup-overlay * {
  box-sizing: border-box;
}

.close-popup-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -15px;
  right: -15px;
  width: 35px;
  height: 35px;
  border-radius: 100px;
  background-color: #545d6d;
  /* transform: translate(-50%, -50%); */
  cursor: pointer;
}

.close-popup-btn img {
  width: 15px;
}

.close-popup-btn:hover {
  background-color: #d23b3b;
}

.popup-overlay-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.15);
  background-color: #2b313c;
  width: 90%;
  max-width: 480px;
  min-width: 300px;
}

.hide-popup-qrcode-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 20px;
  top: 15px;
  padding: 6px 10px;
  border-radius: 100px;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s ease;
}

.hide-popup-qrcode-btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.hide-popup-qrcode-btn img {
  margin-right: 6px;
  height: 20px;
}

.show-popup-qrcode-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 0 7px;
  height: 35px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 12px;
  border-radius: 0 0 15px 15px;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s ease;
}

.show-popup-qrcode-btn:hover {
  color: rgba(255, 255, 255, 1);
}

.show-popup-qrcode-btn.hidden {
  height: 0;
  color: transparent;
}

.qrcode-btn-text {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.popup-qrcode-btn-text {
  margin: 0;
  font-size: 12px;
  font-family: "Montserrat", "Helvetica Neue", "Roboto", "Arial", sans-serif;
  color: white;
  opacity: 0.8;
  font-weight: bold;
}

.popup-content-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.qr-code-img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(1) translate(-50%, -50%);
  transform-origin: top left;
  pointer-events: none;
  transition: all 0.3s ease;
}

img.qr-code-img {
  height: 160px;
  margin-bottom: 10px;
}

.qr-code-img-desc {
  font-size: 12px;
  font-family: "Montserrat", "Helvetica Neue", "Roboto", "Arial", sans-serif;
  font-weight: bold;
  margin: 0;
  color: white;
  opacity: 0.8;
  margin-bottom: -10px;
  text-align: center;
}

.popup-overlay .autharmor-icon {
  position: relative;
  height: 130px;
  margin-bottom: 40px;
  margin-top: 40px;
  object-fit: contain;
  pointer-events: none;
  transition: all 0.3s ease;
  z-index: 2;
}

.popup-overlay .auth-notice {
  width: 100%;
  padding: 7px 12px;
  background-color: #40454e;
  font-family: "Montserrat";
  font-weight: 600;
  text-align: center;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.7);
}

.popup-overlay .auth-notice.hidden {
  display: none;
}

.popup-overlay .auth-message {
  display: flex;
  align-items: baseline;
  justify-content: center;
  margin: 0;
  font-weight: bold;
  color: white;
  font-size: 18px;
  padding: 14px 30px;
  border-radius: 0;
  background-color: #2cb2b5;
  width: 100%;
  text-align: center;
  font-family: "Montserrat", "Helvetica Neue", "Roboto", "Arial", sans-serif;
  transition: all 0.2s ease;
}

.popup-overlay .auth-message.rounded {
  border-radius: 0 0 10px 10px;
}

.hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.hiddenDisplay {
  display: none;
}

.qr-code-img-container.hidden {
  transform: scale(0) translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
}

.autharmor-icon.hidden {
  transform: scale(0.3) translateY(calc(-100% + 38px));
  /* filter: grayscale(1); */
  opacity: 1;
  visibility: visible;
}

.qr-code-mobile {
  width: 100%;
  pointer-events: all;
}

.mobile-usernameless-note {
  font-weight: bold;
  font-size: 15px;
  opacity: 0.8;
  padding: 0 20px;
  text-align: center;
  margin-bottom: 20px;
}

@media screen and (max-width: 991px) {
  .autharmor-icon.hidden {
    opacity: 0;
    visibility: hidden;
  }
}

p.push-notice {
  margin: 0;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: #ffffffa8;
  margin-top: 12px;
  transition: all 0.2s ease;
}

.pulse {
  display: block;
  width: 10px;
  height: 10px;
  margin-left: 14px;
  border-radius: 50%;
  background: #ffffff61;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(255, 255, 255, 0.4);
  animation: pulse 2s infinite;
}

.visual-verify-icon {
  position: absolute;
  top: 15px;
  left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  color: white;
  font-weight: bold;
  font-family: Poppins, Montserrat, sans-serif;
  background-color: #404040;
  font-size: 14px;
  border-radius: 100px;
  transition: all 0.2s ease;
}

.criticalError {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 30px;
}

.authMessageText {
  color: white;
}

.errorTitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px !important;
}

.errorDesc {
  opacity: 0.6;
  text-align: center;
  font-size: 14px;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}
